@{
    ViewBag.Title = "Mark Geller: Portfolio";
}

<section class="hero">
    <div class="container">
        <div class="description">
            <h2>Project: Connextion</h2>
            <p>Connextion is a mobile application designed to help Spa Dealers and Technicians, as well as Spa Owners, remotely monitor and access a spa via their mobile devices.</p>
        </div>
        <img src="~/Content/images/connextion-ipad.jpg" alt="Connextion for iPad" />
    </div>
</section>
<section class="main">
    <div class="container">
        <aside>Hi, I'm Mark. I build web sites and mobile applications. I've been building web sites for over 10 years, and mobile applications for over 3 years. I build applications that use REST web services to talk to remote sensors and devices.</aside>

    <section class="projects">
        <h2>Projects</h2>
        <p>Project summaries are coming soon</p>
    </section>
    <section class="experiments">
        <h2>Experiments</h2>
        <p>Links to my experiments are coming soon</p>
    </section>
    </div>
</section>