@{
    ViewBag.Title = "Portfolio: Mark Geller";
}

<header>
    <div class="container">
        <h1><a href="/">Mark Geller Portfolio</a></h1>
    </div>
</header>

<section class="container">
    <div class="row">
        <aside class="span3">
            <div><img src="~/Content/images/markg.jpg" alt="Mark Geller"/></div>
            <h2>Mark A. Geller</h2>
            <address>
                1030 Feltl Ct #143<br/>
                Hopkins, MN 55343<br/>
                <strong>M:</strong> 801-472-6661<br/>
                <strong>E:</strong> <a href="mailto:markg@condukia.com">markg@condukia.com</a>
            </address>
        </aside>
        <div class="span9">
    <section>
        <h2>Summary</h2>
        <p>I’m a web developer with over 10 years of experience in designing and building complex web applications who is 
            looking for a challenging new position in the Seattle, WA area that will provide opportunities for continued 
            growth. My work experience includes database design, system architecture, coding, mobile development, graphic 
            design, and front-end development.</p>
    </section>
    <section>
        <h2>Skills</h2>
        <ul>
            <li><strong>Databases:</strong> Microsoft SQL Server, MySQL</li>
            <li><strong>Back-End Languages:</strong> C#, ASP.NET, iOS, Android, Python, PHP, Java</li>
            <li><strong>Front-End Languages:</strong> HTML, JavaScript, jQuery</li>
            <li><strong>Design Software:</strong> Photoshop, Illustrator, InDesign, Flash</li>
            <li><strong>IDEs:</strong> Visual Studio 2010, Visual Studio 2012, Eclipse</li>
            <li><strong>PaaS Experience:</strong> Amazon EC2, Windows Azure, Rackspace</li>
            <li><strong>Source Control:</strong> Team Foundation Server, Git, Subversion</li>
        </ul>
    </section>
    <section>
        <h2>Employment History</h2>
        <article>
            <h3><strong>Senior Application Developer</strong> Digi International</h3>
            <div>August 2010 – Present <em>Minnetonka, MN</em></div>
            <p>Responsible for designing and developing web and mobile applications for Digi’s marketing department and 
                for key customers. Worked daily with MS SQL Server, HTML, ASP.NET, C# and JavaScript, and frequently with 
                iOS, Python, Java, and MySQL.</p>
            <ul>
                <li>Built complex web applications for trade shows that showed real-time telemetry from remote devices</li>
                <li>Built native iOS and Android applications that allowed customers to interact with remote devices</li>
                <li>Created Python web applications that were included in Digi’s development kits</li>
                <li>Built ASP.NET MVC applications for customers in the medical, transportation, manufacturing, and energy 
                    industries that made extensive use of REST web services</li>
                <li>Managed internal teams and contractors to design and develop customer web applications</li>
                <li>Organized internal patterns study group to help improve application architecture</li>
            </ul>
        </article>
        <article>
            <h3><strong>Senior Web Developer</strong> Digi International</h3>
            <div>August 2007 – August 2010 <em>Minnetonka, MN</em></div>
            <p>Responsible for developing and maintaining marketing web sites for Digi International and for managing 
                Digi’s search engine optimization and keyword strategy. Worked daily with MS SQL Server, HTML and PHP 
                and frequently with Java and ASP.NET.</p>
            <ul>
                <li>Migrated acquired web sites to Digi’s existing infrastructure</li>
                <li>Built flash-based battery life calculator for Digi’s RF product lines</li>
                <li>Maintained Digi’s ecommerce sites</li>
                <li>Developed source control standards and set up repositories</li>
                <li>Planned and managed migration of Digi’s intranet to SharePoint</li>
            </ul>
        </article>
        <article>
            <h3><strong>Web Developer</strong> MaxStream Inc.</h3>
            <div>November 2005 – August 2007 <em>Lindon, UT</em></div>
            <p>Responsible for designing, developing and maintaining MaxStream’s web sites and for managing search 
                engine optimization and keyword strategy. Worked daily with PHP, MySQL and Linux and frequently with 
                Apache and ColdFusion.</p>
            <ul>
                <li>Improved the organic search engine ranks for strategic key words</li>
                <li>Migrated web site from table-based layout to CSS-based layout</li>
                <li>Created and maintained MaxStream’s online store</li>
            </ul>
        </article>
        <article>
            <h3><strong>Web Developer</strong> Alexander’s Print Advantage</h3>
            <div>October 2002 – November 2005 <em>Lindon, UT</em></div>
            <p>Responsible for developing and maintaining Alexander’s ecommerce sites and for programming variable-data 
                print jobs. Worked daily with ASP 3, Visual Basic, MS SQL and IIS and frequently with ASP.NET, C# and PostScript.</p>
            <ul>
                <li>Developed and maintained web-based printing solution that allowed customers to order personalized 
                    printed stationery, postcards, and other complex variable-data printed pieces</li>
                <li>Traveled with sales team to help sell online printing solutions</li>
                <li>Created customer service application to help account managers refund orders, rush orders, update 
                    order information and track an order through production</li>
                <li>Integrated ecommerce sites with back end production, accounting, warehouse, shipping and fulfillment 
                    systems to make it possible to print an ship an online order within 24 hours</li>
            </ul>
        </article>
        </section>
            <section>
                <h2>Education</h2>
                <p><strong>Brigham Young University</strong>, Provo, UT<br/>
                    Bachelor of Arts – English – Emphasis in technical writing
                </p>
            </section>
       </div>
    </div>
</section>

<footer>
    
</footer>
