@{
    ViewBag.Title = "Index";
}

<section class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li>@Html.ActionLink("Experiments", "Index", "Experiments")</li>
        </ul>
    </div>
</section>
<section class="main">
    <div class="container">
        <h2>Experiments</h2>
        <p>Experiments list coming soon</p>
    </div>
</section>