@{
    ViewBag.Title = "Index";
}

<section class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </div>
</section>
<section class="main">
    <div class="container">
        <p>Project list coming soon</p>
    </div>
</section>
