body {
  background-color: #989899;
}
.container {
  max-width: 1000px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}
.container:after {
  clear: both;
}
header {
  min-height: 60px;
  background-color: #f3f3f3;
}
header h1 {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  width: 150px;
}
header a,
header a:link,
header a:visited {
  text-decoration: none;
  color: #535454;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
header a:hover {
  color: #0db3d9;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
header nav {
  margin-top: 14px;
  float: right;
}
header nav a {
  display: inline-block;
  padding: 5px 30px;
}
.hero,
.feature {
  background-color: #0db3d9;
  border-bottom: 3px solid #2e4d59;
  color: #fff;
}
.hero .description {
  float: left;
  width: 48%;
}
.hero h2,
.feature h2 {
  font-weight: normal;
  font-size: 36px;
  margin-top: 20px;
  -webkit-text-shadow: 0 1px 0px rgba(13, 106, 113, 0.7);
  text-shadow: 0 1px 0px rgba(13, 106, 113, 0.7);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hero p,
.feature p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
}
.hero img {
  float: right;
  width: 50%;
  margin-top: 20px;
}
.feature img {
  float: right;
  margin-top: 20px;
}
.main {
  background-color: #fff;
}
.main aside {
  font-size: 18px;
  color: #535454;
  line-height: 30px;
  margin-top: 20px;
}
.main section.projects {
  float: left;
  width: 49%;
}
.main section.experiments {
  float: right;
  width: 49%;
}
.main section h2 {
  min-height: 30px;
  font-size: 18px;
  line-height: 18px;
  background-color: #0db3d9;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 0 0 50px;
  letter-spacing: 1px;
  font-weight: normal;
  background-position: 10px center;
  background-repeat: no-repeat;
}
.main .projects h2 {
  background-image: url('/content/images/icons/ico-project.png');
}
.main .experiments h2 {
  background-image: url('/content/images/icons/ico-experiments.png');
}
.main .contact h2 {
  background-image: url('/content/images/icons/ico-contact.png');
}
.main .skills h2 {
  background-image: url('/content/images/icons/ico-skills.png');
}
.main .employment h2 {
  background-image: url('/content/images/icons/ico-computer.png');
}
.main .education h2 {
  background-image: url('/content/images/icons/ico-education.png');
}
.main .skills p > span {
  background-color: #989899;
  display: inline-block;
  padding: 3px 8px;
  margin: 3px 0;
  color: #fff;
  border-radius: 3px;
}
.employment article h3 {
  color: #2e4d59;
}
.employment h3 span {
  font-weight: normal;
  color: #0db3d9;
  font-size: .8em;
}
.employment .date {
  margin: -18px 0 15px 0;
}
.employment .date em {
  display: block;
}
.employment ul {
  margin-bottom: 20px;
}
.main .skills h4 {
  color: #2e4d59;
  font-weight: normal;
}
.left-col {
  margin-top: 20px;
  float: left;
  width: 39%;
}
.right-col {
  margin-top: 20px;
  float: right;
  width: 59%;
}
footer {
  border-top: 2px solid #535454;
}
footer nav {
  width: 33%;
  float: left;
}
footer nav h3 {
  color: #2e4d59;
  font-weight: normal;
  line-height: 18px;
  font-size: 18px;
  margin: 20px 0 0 0;
}
footer nav ul {
  list-style: none;
  margin: 10px 0 20px 0;
  padding: 0;
}
footer nav li {
  padding: 2px 0;
}
footer a,
footer a:link,
footer a:visited {
  text-decoration: none;
  color: #535454;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
footer a:hover {
  color: #fff;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
footer p {
  color: #535454;
  font-size: 12px;
}
@media screen and (max-width: 540px) {
  header h1 {
    float: none;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  header nav {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  header nav a {
    padding: 5px 12px;
  }
  .hero h2 {
    font-size: 24px;
    line-height: 26px;
  }
  .hero .description {
    float: none;
    width: 100%;
  }
  .hero img {
    float: none;
    width: 100%;
  }
  .feature img {
    float: none;
    display: none;
  }
  .main section.projects,
  .main section.experiments,
  .left-col,
  .right-col {
    float: none;
    width: 100%;
  }
  footer nav {
    float: none;
    width: 100%;
  }
}
