@hd_link_color: #535454;
@hd_link_hover: #0db3d9;
@hero_bg_color: #0db3d9;
@hero_border_color: #2e4d59;
@hero_shadow_color: rgba(13, 106, 113, .7);
@foot_border_color: #535454;
@foot_header_color: #2e4d59;

.link_animation(@speed: 200ms) {
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

body {
    background-color: #989899;
}

.container {
    max-width:1000px;
    padding: 0 10px;
    margin-left: auto;
    margin-right:auto;
    *zoom:1;
}
.container:before,
.container:after
{
    display:table;
    line-height:0;
    content:"";
}

.container:after
{
    clear:both;
}

header {
    min-height: 60px;
    background-color:#f3f3f3;
}

header h1 {
    font-size: 18px;
    font-weight:normal;
    text-transform:uppercase;
    float:left;
    width: 150px;
}

header a, header a:link, header a:visited {
    text-decoration:none;
    color: @hd_link_color;
    .link_animation;
}

header a:hover
{
    color: @hd_link_hover;
    .link_animation;
}

header nav {
    margin-top: 14px;
    float:right;
}

header nav a {
    display: inline-block;
    padding: 5px 30px;
}

.hero {
    background-color: @hero_bg_color;
    border-bottom: 3px solid @hero_border_color;
    color: #fff;
}

.hero .description {
    float:left;
    width: 48%;
}

.hero h2
{
    font-weight: normal;
    font-size: 36px;
    margin-top:20px;
    -webkit-text-shadow: 0 1px 0px @hero_shadow_color;
    text-shadow: 0 1px 0px @hero_shadow_color;
    text-transform:uppercase;
    letter-spacing:2px;

}

.hero p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
}

.hero img {
    float:right;
    width: 50%;
    margin-top: 20px;
}

.main {
    background-color:#fff;
}

.main aside {
    font-size: 18px;
    color: @hd_link_color;
    line-height:30px;
    margin-top:20px;
}

.main section.projects {
    float:left;
    width:49%;
}

.main section.experiments {
    float:right;
    width: 49%;
}

.main section h2 {
    min-height: 30px;
    font-size:18px;
    line-height:18px;
    background-color: @hero_bg_color;
    text-transform:uppercase;
    color:#fff;
    padding: 12px 0 0 50px;
    letter-spacing:1px;
    font-weight:normal;
    background-position: 10px center;
    background-repeat:no-repeat;
}

.main section.projects h2 {
    background-image: url('/content/images/icons/ico-project.png');
}

.main section.experiments h2 {
    background-image: url('/content/images/icons/ico-experiments.png');
}

footer {
    border-top: 2px solid @foot_border_color;
}

footer nav {
    width:33%;
    float:left;
}

footer nav h3 {
    color: @foot_header_color;
    font-weight:normal;
    line-height:18px;
    font-size:18px;
    margin: 20px 0 0 0;
}

footer nav ul {
    list-style:none;
    margin: 10px 0 20px 0;
    padding:0;
}

footer nav li {
    padding: 2px 0;
}

footer a, footer a:link, footer a:visited {
    text-decoration:none;
    color: @foot_border_color;
    .link_animation;
}

footer a:hover
{
    color: #fff;
    .link_animation;
}

footer p {
    color: @foot_border_color;
    font-size: 12px;
}

@media screen and (max-width: 540px) {
    header h1 {
        float:none;
        width:auto;
        margin:0;
        padding:0;
        text-align:center;
    }
    header nav {
        float:none;
        margin: 0 auto;
        text-align:center;
    }
    header nav a {
        padding: 5px 12px;
    }

    .hero h2 {
        font-size: 24px;
        line-height: 26px;
    }

    .hero .description {
        float:none;
        width:100%;
    }
    .hero img {
        float:none;
        width:100%;
    }

    .main section.projects, .main section.experiments  {
        float:none;
        width:100%;
    }

    footer nav {
        float:none;
        width: 100%;
    }
}